#contenedor_spinner{
    display:none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:1010;
    background-color: rgba(255,255,255,0.7);
    top: 0;
    left: 0;
}
#spinner{
    position: absolute;
    top:50%;
    left: 50%;
    background-image: url(spinner.gif);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
}